#espaco {
    margin-top: 10px;
}

#botao-cadastro {
    margin: 15px 0 20px 0;
}

#botao-salvar {
    margin-top: 41px;
}

#botao {
    width: 100px;
    height: 37px;
    margin-top: 42px;
}

.botao-voltar {
    margin: 10px 0 20px 0;
}

.botao-voltar-excluir-perfil {
    margin: 0 0 20px 30px;
}

#botao-excluir {
    float: right;
    margin: 0 40px 10px 0;
}

#icone-remover {
    color: red;
}

#icone-editar {
    color: black;
    text-decoration: none
}

.icones {
    text-align: center;
}

h3 {
    text-align: center;
    color: red;
}

h4 {
    text-align: center;
    margin-top: 20px;
}

.invisivel {
    display: none;
}

.check-box-acessso {
    text-align: center;
}

#filtro {
    margin-bottom: 15px;
}

.controle-acesso {
    text-align: center;
}

.bg-gradient-primary {
    background-color: #30336b;
    background-size: cover
}
