@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/balao.ico" rel="shortcut icon" />

    <!-- Bootstrap CSS File -->
    <link href="~/Content/Page_Bootstrap/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/Page_Bootstrap/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/Page_Bootstrap/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/Page_Bootstrap/css/style.css" rel="stylesheet">
    <link href="~/Content/ViewCss/Home/home.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!--/ Nav Star /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll" href="#page-top">Escolha Tema</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                    aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link js-scroll" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="/Login/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Nav End /-->
    <!--/ Intro Skew Star /-->
    <div id="home" class="intro route bg-image" style="background-image: url('../../Content/Page_Bootstrap/img/festa.jpg');">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h1 class="intro-title mb-4">Bem-vindo</h1>
                    <p class="intro-subtitle"><span class="text-slider-items">Aqui você encontrará o tema para sua festa</span><strong class="text-slider"></strong></p>
                    <a id="botao-fornecedores" href="/PessoaJuridica/ListarPessoasJuridicaParaPessoaFisica" class="btn btn-primary">Fornecedores</a>
                </div>
            </div>
        </div>
    </div>
    <!--/ Intro Skew End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!--/ Section Contact-Footer Star /-->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="col-sm-12">
                <h5 class="text-center">Redes sociais do desenvolvedor</h5>
                <div id="contact" class="box-shadow-full">
                    <div class="col-md-6 text-center">
                        <div class="socials">
                            <ul>
                                <li id="li"><a href="https://www.facebook.com/guilherme.mathias.9480?ref=bookmarks" target="_blank" title="facebook"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                                <li id="li"><a href="https://api.whatsapp.com/send?phone=5544988184231&text=Ol%C3%A1%20Guilherme" target="_blank" title="WhatsApp"><span class="ico-circle"><i class="fa fa-whatsapp"></i></span></a></li>
                                <li id="li"><a href="https://instagram.com/guinog_/?hl=pt-br" target="_blank" title="Instagram"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                                <li id="li"><a href="https://www.linkedin.com/in/guilherme-mathias-b87150195/" target="_blank" title="Linkedin"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright-box">
                            <p class="copyright">&copy; Copyright <strong>Guilherme Mathias</strong>. Todos direitos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--/ Section Contact-footer End /-->

    <!-- JavaScript Libraries -->
    <script src="~/Content/Page_Bootstrap/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/popper/popper.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/easing/easing.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/counterup/jquery.counterup.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Content/Page_Bootstrap/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Content/Page_Bootstrap/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Content/Page_Bootstrap/js/main.js"></script>

</body>
</html>

