#page-top {
    background: #1e272e;
}

.corpo {
    margin-top: 105px;
}

h4 {
    text-align: center;
    margin-top: 15px;
}

#botao-salvar {
    margin-top: 41px;
}

#espaco-entre-campos {
    margin-top: 10px;
}

.botao-voltar {
    margin-bottom: 10px;
}
