#page-top, .overlay-mf {
    background: #1e272e;
}

#contact {
    display: flex;
    justify-content: center;
}

.text-center {
    color: #fff;
}

.corpo {
    margin-top: 100px;
}

.invisivel {
    display: none;
}

#filtro {
    margin: 0 0 10px 0;
}

#li {
    margin-bottom: 10px
}

.temas {
    text-align: center;
}
